<div class='row'>
  <div class='small-10 medium-5 columns wastenot-form'>

    <h2>Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="row">
        <%= f.label :type %>
        <%= f.select :type, TYPES_COLLECTION, include_blank: true %>
        <p class='error'><%= show_errors(resource, 'Type') %></p>
      </div>

      <div class="row">
        <%= f.text_field :name, autofocus: true, placeholder: 'Name' %>
        <p class='error'><%= show_errors(resource, 'Name') %></p>
      </div>

      <div class="row">
        <%= f.text_field :address, placeholder: 'Address' %>
        <p class='error'><%= show_errors(resource, 'Address') %></p>
      </div>

      <div class="row">
        <%= f.text_field :city, placeholder: 'City' %>
        <p class='error'><%= show_errors(resource, 'City') %></p>
      </div>

      <div class="row">
        <%= f.label :state %>
        <%= f.select :state, STATES, include_blank: true %>
        <p class='error'><%= show_errors(resource, 'State') %></p>
      </div>

      <div class="row">
        <%= f.text_field :zip, placeholder: 'Zip' %>
        <p class='error'><%= show_errors(resource, 'Zip') %></p>
      </div>

      <div class="row">
        <%= f.text_field :phone, placeholder: 'Phone' %>
        <p class='error'><%= show_errors(resource, 'Phone') %></p>
      </div>

      <div class="row">
        <%= f.email_field :email, placeholder: 'Email' %>
        <p class='error'><%= show_errors(resource, 'Email') %></p>
      </div>

      <div class="row">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
        <p class='error'><%= show_errors(resource, 'Password') %></p>
      </div>

      <div class="row">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
      </div>

      <div class="row actions">
        <%= f.submit "Sign Up!", class: 'button' %>
      </div>
    <% end %>

    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
