<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"> <%= link_to 'WasteNot', root_path %> </li>
          <li><input type="search" placeholder="Search Available Inventory"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <% if user_signed_in? %>
            <li>
              <a href="#">My Account</a>
              <ul class="menu vertical">
                <li><a href="#"> Update My Profile </a></li>

                <li><a href="#"> Sign Out </a></li>
            </ul>
            <li> Sign Out </li>
          <% else %>
            <li> <%= link_to 'Log In', new_user_session_path %> </li>
            <li> <%= link_to 'Sign Up', new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
